.cartIcon {
  width: 70px;
  text-align: center;
}
.changeQuantity {
  padding: 5px 12px;
  margin: 10px;
  background-color: #f7eb95;
  border: none;
  border-radius: 10px;
}
.cartpicture {
  width: 110px;
  height: 80px;
  object-fit: cover;
  border-radius: 14px;
}
.card {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.icon {
  width: 20px;
  cursor: pointer;
}
.total-box {
  width: 70%;
  margin: 20px auto;
  padding: 18px;
  background: white;
  border-radius: 20px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08); */
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
